.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px, 0, 0, 0;
}

.text-center {
    text-align: center;
    padding: 60px, 0, 0, 0;
}

h1 .header-title {
    font: 60px;
}
/* .hero-background {
    background-color: green;
} */

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100vh;
    height: 100vh; 
    border: 1px solid black;
}

.wave {
    background-image: url(./img/wave.png);
} 

.cards {
    padding: 0, 0, 0, 24px;
}

.level-item {
    font: 60px;
}

#column-padding {
    padding-bottom: 100px;
    background-color: #3500d3;
}

@keyframes fade {
    0% {
      opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }
  
    75% {
      opacity: 0.75;
    }
  
    100% {
      opacity: 1;
    }
  }

#header-text {
    position: relative;
    font-size: 175px;
    bottom: 100px;
    color: #3500d3;
    animation: fade 1.5s;
}
#welcome-text {
    position: relative;
    font-size: 125px;
    bottom: 40px;
    color: #00d1b2;
    animation: fade 3.5s;
}

#section-color {
    background-color: #788a91;
}

#color-splash {
    background-color: #3500d3;
}

#font-splash {
    color: #3500d3;
}


@media all and (min-width: 877px) and (max-width: 1024px) { 
    #column-padding {padding-bottom: 124px;}
}
@media all and (min-width: 809px) and (max-width: 876px) { 
    #column-padding {padding-bottom: 100px;}
}

#skill {
    position: relative;
    bottom: 100px;
    z-index: 4;
}

@media all and (max-width: 1087px) { 
    #skill {
    position: relative;
    bottom: 25px;
    z-index: 4;
    }
}


#welcome-header {
    bottom: 100px;
}  

#top-padding {
    padding-top: 125px;
}

#project-padding {
    padding: 125px 0 50px 0;
}

/* .fa-code {
    
}

fa-check-square {

} */