* {
    box-sizing: border-box;
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px, 0, 0, 0;
}

.text-center {
    text-align: center;
    padding: 60px, 0, 0, 0;
}

h1 .header-title {
    font: 60px;
}
/* .hero-background {
    background-color: green;
} */

.wallpaper {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.wallpaper {
    background-image: url(../img/cover.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100vh;
    height: 100vh; 
    border: 1px solid black;
}

.wave {
    background-image: url(./img/wave.png);
} 

.cards {
    padding: 0, 0, 0, 24px;
}

.level-item {
    font: 60px;
}

.navbar {
    background-color: #3500d3;  
}

.list {
    display: table;
    margin: 0 auto;
}  

.control a:hover {
    opacity: 1;
    transform: scale(1.25);
}

.control a:active {
    opacity: 1;
    transform: scale(1.1);
}

.picture {
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 20px;
}

.picture-shadow {
    border-radius: 290486px;
    background-image: radial-gradient(#000 0%, rgba(0, 0, 0) 70%);
    position: absolute;
    top: 10%;
}

.picture-image {
    border-radius: 290486px;
    position: relative;
}

#about-me {
    padding: 0, 0, 0, 144px;
}

#about-section {
    background-color: #142833;
    padding-top: 0;
}

#contact-submit {
    background-color: #3500d3;
}


ul#horizontal-list li {
    display: inline; 
} 

#horizontal-list {
    position: relative;
    top: 75px;
} 


#navbarMenuHeroB {
    position: relative;
    top: 20%;
}

#column-padding {
    padding-bottom: 100px;
    background-color: #3500d3;
}

@keyframes fade {
    0% {
      opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }
  
    75% {
      opacity: 0.75;
    }
  
    100% {
      opacity: 1;
    }
  }

  #header {
      background-color: #3500d3;
      background-image: linear-gradient(to bottom right, #2e9cca, #142833);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      min-height: 100vh;
      min-width: 300px;
      overflow-x: hidden;
      text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

#link-items {
    position: relative;
    margin: 0 auto;
    float: left;
}

#header-text {
    position: relative;
    font-size: 30px;
    animation: fade 1.5s;
}
/* #welcome-text {
    position: relative;
    font-size: 125px;
    bottom: 40px;
    color: #00d1b2;
    animation: fade 3.5s;
} */

#section-color {
    background-color: #142833;
}

#header-button {
    background-color: #788a91;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#color-splash {
    background-color: #3500d3;
}

#font-splash {
    color: #3500d3;
}


@media all and (min-width: 1472px) and (max-width: 1920px) { 
    #column-padding {padding-bottom: 76px;}
    
}
@media all and (max-width: 1087px) { 
    .field.is-grouped {justify-content: center;}
    
}
@media all and (min-width: 877px) and (max-width: 1024px) { 
    #column-padding {padding-bottom: 148px;}
}
@media all and (min-width: 809px) and (max-width: 876px) { 
    #column-padding {padding-bottom: 100px;}
}

#skill {
    position: relative;
    bottom: 100px;
    order: 2;
    flex-shrink: 0;
}

#title-text {
    animation: fade 2s;
    position: relative;
    top: 20px;
}

@media all and (max-width: 1087px) { 
    #skill {
    position: relative;
    bottom: 25px;
    z-index: 4;
    }
}


#welcome-header {
    bottom: 100px;
}  

#top-padding {
    padding-top: 125px;
}

#project-padding {
    padding: 125px 0 50px 0;
}

#project-top-padding {
    padding-top: 45px;
}

#fade {
    z-index: 1;
}

#fade:hover {
    opacity: 0.09;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #fff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
} 


.fade-link {
    display: show;
    position: relative;
    bottom: 100px;
    opacity: 1;
    color: black;
}



/* .fa-code {
    
}

fa-check-square {

} */