.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero-background {
    background-color: green;
} */

/* .wave {
    background-image: url(./img/wave.png);
} */